#container{
  width: 100%;
  margin: auto;
}

/* Bold */
@font-face {
  font-family:'proximaBold';
  src: url(../fonts/ProximaNova/ProximaNova-Bold.otf)
}

/* Regular */
@font-face {
  font-family:'proximaRegular';
  src: url(../fonts/ProximaNova/ProximaNova-Regular.otf)
}

/* Black */
@font-face {
  font-family:'proximaBlack';
  src: url(../fonts/ProximaNova/ProximaNova-Black.otf)
}

/* Header */
nav{
  background: white;
}

.navbar-pos a{
  margin-right: 150px;
  padding: 5px;
  z-index: 6;
}

a{
  text-decoration: none;
  color: #232323;
  font-family: 'proximaBold';
  font-size: 18px;
}

.navbar-pos a:hover{
  border-bottom: #FFB840 3px solid;
}

.border-header{
  width: 100%;
  border: #f7f7f7 solid 1px;
}

.navbar-pos {
  margin-left: 850px;
  padding-top: 40px;
  padding-bottom: 50px;
  top: 100px;
}

.logo{
  position: absolute;
  width: 150px;
  height: auto;
  box-shadow: 1px 1px 25px 3px #cacaca;
  z-index: 3;
  transition-duration: 0.2s;
}

.logo:hover{
  opacity: 0.7;
}



/* Home */

.bg-home{
  position: relative;
}

.bg-home-img{
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  position: relative;
}


.title-jcole{
  font-family: 'proximaBlack';
  font-size: 160px;
  position: absolute;
  color: #232323;
  top: 100px;
  right: 120px;
}

.jcole{
  position: absolute;
  width: 830px;
  z-index: 1;
  top: 0;
  left: 30px;
}

.description{
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
  width: 350px;
  position: absolute;
  top: 380px;
  right: 120px;
  line-height: 1.5;
}

.description span {
  font-family: "Source Sans Pro";
  font-weight: 600;
}

.border{
  border: #FFB840 1.5px solid;
}

.border-pos{
  width: 300px;
  margin-top: 60px;
  position: absolute;
  right: 500px;
}

.number{
  font-family: 'proximaBold';
  color: #ffb74d;
  font-size: 100px;
  opacity: 0.12;


}

.number-pos{
  right: 200px;
  position: absolute;
}

.title-number{
  font-family: 'proximaBold';
  color: #ffb74d;
  font-size: 15px;
  position: absolute;
  right: 160px;
  margin-top:48px;
}



.bg-bio{
  background: white;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
  width: 900px;
  height: 450px;
  position: relative;
  z-index: 5;
  top: 110px;
  margin: auto;
}

.bio{
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
  width: 650px;
  position: absolute;
  top: 110px;
  left: 160px;
  line-height: 1.5;
  text-align: justify;
}

.bg-footer-img{
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.border-footer-pos{
  width: 600px;
  position: absolute;
  top: 1120px;
  left: 0;
}

/*Covers*/

.header-covers{
  position: relative;
  margin-top: 100px;
  margin-left: 150px;
}


.title-number-pos-covers{
  font-family: 'proximaBold';
  color: #ffb74d;
  font-size: 15px;
  position: absolute;
  left: 65px;
  top:45px;
}

.shape{
  width: 100%;
  border-bottom: rgba(255,183,77,0.3) 1px solid;
  margin-top: 30px;
}

.shape1{
  width: 25px;
  height: 25px;
  background: #ffb74d;
  margin-top:100px;
  margin-left:10px;
  position: absolute;
}

.shape2{
  width: 25px;
  height: 25px;
  background: #ffb74d;
  margin-top:850px;
  margin-left:10px;
  position: absolute;
}



.titles-covers{
  font-family: 'proximaBlack';
  font-size: 70px;
  color: black;
}

.cover-size :hover{
  opacity: 0.5;
}

.cover-size{
  width: 500px;
  height: 500px;
  margin-right: 500px;
  margin-bottom: 115px;
  margin-left: 100px;
  margin-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  transition-duration: 0.5s;

}

.cover-description-1{
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
  width: 617px;
  position: absolute;
  top: 660px;
  right: 51px;
  line-height: 1.5;
  text-align: justify;
}

.cover-description-2{
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
  width: 617px;
  position: absolute;
  top: 1380px;
  right: 51px;
  line-height: 1.5;
  text-align: justify;
}

.cover-description-1 span {
  font-family: "Source Sans Pro";
  font-weight: 600;
}

.cover-description-2 span {
  font-family: "Source Sans Pro";
  font-weight: 600;
}

/*Titles*/

.title{
  font-family: 'proximaBold';
  font-size: 20px;
  padding-top: 25px;
  margin-left: 50px;
}

.duration{
  font-family: 'proximaRegular';
  font-size: 14px;
  float: right;
  margin-right: 55px;
}

/*404 Error*/

.pos-404{
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 10vh;;
}

.title-404{
  font-family: 'proximaBold';
  font-size: 50px;
  color: #232323;
  
}

.subtitle-404{
  font-family: 'proximaRegular';
  font-size: 20px;
  color: #232323;
  display: block;
  text-align: center;
  padding-top: 15px;
}

.img-404{
  width: 175px;
  margin: auto;
  display: block;
  margin-top: 50px;
  transition-duration: 0.5s;
}

a .img-404:hover{
  opacity: 0.5;
}

.subtitle-404 span{
  font-family: 'proximaBold';
  font-size: 22px;
  color: #ffb74d;

}




