{{ include('partials/header.twig') }}

{% for _song in album %}
<div class="shape"></div>
<div class="title">{{ _song.title }}</div>
<div class="duration">{{ _song.duration }}</div>


{% endfor %}

{{ include('partials/footer.twig') }}